body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a0a0a;
    color: #00ff00;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.terminal {
    position: relative;
    max-width: 800px;
    max-height: 400px;
    overflow: hidden;
    border: 2px solid #00ff00;
    background-color: #000;
    color: #00ff00;
    padding: 20px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.output {
    overflow: auto;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}

.digit-line {
    white-space: pre;
}

.input {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre;
    line-height: 1.4;
    letter-spacing: 1px;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff00;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #009900;
}
